# General directories

**/__pycache__
**/.ipynb_checkpoints
**/*.pyc

# Dataset directories

session-0/img_align_celeba
session-1/img_align_celeba
session-1/dataset
session-2/img_align_celeba
session-3/MNIST_data
session-3/datasets
session-3/gtzan_music_speech

# Particular files

session-3/audio.png
session-3/music_speech.tar.gz
session-3/test_xs.png
